$redColor: rgb(219, 4, 4);
$redHover: darken($redColor, 10%);
$blueColor: #1c89b4;
$blueHover: darken($blueColor, 10%);

.spacer {
  height: 10px;
  background-color: black;
}

caption {
  margin-top: 5%;
}
